@charset "utf-8";
// ==========================================================================
// Custom mixin
// ==========================================================================

// Image mixin
// ==========================================================================
// disabled user-event
@mixin disabled-select() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin disabled-drag() {
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	// user-drag: none;
}
@mixin disabled-select-drag() {
	@include disabled-select();
	@include disabled-drag();
}


// Color
// ==========================================================================
@mixin color-pattern($color, $bg: false) {
	color: $color;
	@if $bg == true {
		background-color: $color;
	}
}

// Layout
// ===================================================================
//
// コンテナレイヤー
// @param $innerWidth 内径 幅
// @param $innerHeight 内径 高さ
//
@mixin content-layer($innerWidth, $innerHeight) {
	overflow: hidden;
	width: 100%;
	min-width: $innerWidth;
	height: $innerHeight;

	.inner {
		position: relative;
		overflow: hidden;
		min-width: $innerWidth;
		height: $innerHeight;
	}
}

//
// 絶対位置に配置
// @param $top
// @param $right
// @param $bottom
// @param $left
//
@mixin position($top, $right, $bottom, $left) {
	position: absolute;

	@if $top    != '' { top: $top; }
	@if $bottom != '' { bottom: $bottom; }
	@if $left   != '' { left: $left; }
	@if $right  != '' { right: $right; }
}

// centering
@mixin position-center($width, $height) {
	position: absolute;
	top: 50%;
	left: 50%;

	// @if $width  != '' { width: $width; }
	// @if $height != '' { height: $height; }
	@if $width  != '' { width: $width; margin-left: -$width / 2; }
	@if $height != '' { height: $height; margin-top: -$height / 2; }
}


// CSS Sprite
// ===================================================================
@mixin sprite() {
	display: block;
	//text-indent: -9999px;
	background-repeat: no-repeat;
	@include hide-text();
	line-height: 1;
}

@mixin sprites($map, $map-item, $isCommon: false) {
	@if $isCommon {
		display: block;
		text-indent: -9999px;
		line-height: 1;

		@if $isRetina {
			background-image: sprite-url($map);
			background-repeat: no-repeat;
			background-size: round(image-width(sprite-path($map)) / 2) round(image-height(sprite-path($map)) / 2);
		} @else {
			background-image: sprite-url($map);
			background-repeat: no-repeat;
		}

	} @else {

		@if $isRetina {
			$pos-y: round(nth(sprite-position($map, $map-item), 2) / 2);
			width: round(image-width(sprite-file($map, $map-item)) / 2);
			height: round(image-height(sprite-file($map, $map-item)) / 2);
			background-position: 0 $pos-y;
		} @else {
			$pos-y: sprite-position($map, $map-item);
			width: image-width(sprite-file($map, $map-item));
			height: image-height(sprite-file($map, $map-item));
			background-position: $pos-y;
		}
	}
}



@mixin sprite-item($url, $width, $height) {
	display: block;
	width: $width;
	height: $height;
	background-image: url($url);
	background-repeat: no-repeat;
	text-indent: -9999px;
	line-height: 1;
}

@mixin list-sprite-item($width, $height, $bgLeft, $bgTop: 0) {
	width: $width;
	height: $height;
	background-position: $bgLeft 0;

	@if $bgTop != 0 {
		&.current,
		&:hover {
			background-position: $bgLeft $bgTop;
		}
	}
}


// Overlay
// ===================================================================
@mixin simple-overlay() {
	%overlay {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		min-width: 1200px;
		height: 100%;
	}
	.mod-modal {
		@extend %overlay;
	}
	.mod-modal-bg {
		@extend %overlay;
		// background: url(#{$imgPath}bg_modal_01.png) repeat;
	}
	.mod-modal-content {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1050;
		background-color: #fff;
		@if $legacy-support-for-ie {
			*zoom: 1;
		}

		.btn-close {
			position: absolute;
			// top: 38px;
			// right: 38px;

			a {
				// @extend %icon-item;
				// @include sprites($map-icon, close_2, false);
				// &:hover { @include sprites($map-icon, close_2_o, false); }
			}
		}
	}
}
