// ==========================================================================
// Global config file
// ==========================================================================

// Namespace
// ==========================================================================
$ns: ();

// Paths
// ==========================================================================
$http-path: "http://";
$css-dir: "css";
$image-dir: "img";
$fonts-dir: "fonts";
$hierarchy-of-img-from-css: '../';

// For Retina
// ==========================================================================
$is-retina: false;

// Global margin(paragraph)
// ==========================================================================
$base-margin: 0;

// Color
// ==========================================================================
// background
$bg-color: #fff !default;
// sub
$sub-color: #eee !default;
// accent
$accent-color: #0ff !default;

// font
$font-color: #000 !default;
// sub font color
$sub-font-color: #CCC !default;
// links
$link-color: #0072ff !default;
$link-color-hover: #0072ff !default;
$link-color-visited: #0072ff !default;
$link-color-active: #0072ff !default;
// border
$border-color: #000 !default;

// Font
// ==========================================================================
// base font
$base-font: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif !default;
$yu-font: "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif !default;
// base font size
$base-font-size: 14;

// Window
// ==========================================================================
$wrapper-width: 0;

// Media queries
// ==========================================================================
$breakpoint: 640px;

// Mixin variables
// ==========================================================================
// テキストを隠す方向
$hide-text-direction: right;
// Browser support (old compass)
$legacy-support-for-ie: false;
$legacy-support-for-ie8: false;
