@charset "utf-8";

// ==========================================================================
// Boxes
// example: ".layout-example"
// ==========================================================================
.layout-container {
	width: $wrapperWidth;
	margin: auto;
}

.layout-contents {
}

.layout-primary {
	float: left;
	width: 960 - 310px - 30px;
}

.layout-secondary {
	float: right;
	width: 310px;
}
