@charset "utf-8";

// ==========================================================================
// Header
// ==========================================================================
.global-header {
	padding: 9px 10px;
	background-color: #363636;
	@extend .clearfix;
	
	h1 {
		float: left;
		margin-top: 5px;
	}

	.logo-header {
		@extend %icon-item;
		@include sprites($map-icons, logo, false);
		display: inline-block;
		margin-right: 11px;
	}

	.info-header {
		@extend %icon-item;
		@include sprites($map-icons, sitename, false);
		display: inline-block;
	}

	.btn-entry {
		float: right;
		a {
			@extend %icon-item;
			@include sprites($map-icons, entry, false);
		}
	}
}
